# <p style="color:red;">0. Creating Ndarray</p>

##  <p style="color:red;">numpy.array(object, dtype = None, copy = True, order = None, subok = False, ndmin = 0)</p>

Parameters:	
object : array_like. an array-like is any Python object that np.array can convert to an ndarray.
### From the source code, we can infer that the  array_like object can be:
1.a NumPy array, or

2.a NumPy scalar, or

3.a Python scalar, or

4.any object which supports the PEP 3118 buffer interface, or

5.any object that supports the __array_struct__ or __array_interface__ interface, or

6.any object that supplies the __array__ function, or

7.any object that can be treated as a list of lists

### Sum up, An array, any object exposing the array interface, an object whose __array__ method returns an array, or any (nested) sequence.

dtype : data-type, optional. The desired data-type for the array. If not given, then the type will be determined as the minimum type required to hold the objects in the sequence. This argument can only be used to ‘upcast’ the array. For downcasting, use the .astype(t) method.

copy : bool, optional. If true (default), then the object is copied. Otherwise, a copy will only be made if __array__ returns a copy, if obj is a nested sequence, or if a copy is needed to satisfy any of the other requirements (dtype, order, etc.).

order : {‘K’, ‘A’, ‘C’, ‘F’}, optional. Specify the memory layout of the array. If object is not an array, the newly created array will be in C order (row major) unless ‘F’ is specified, in which case it will be in Fortran order (column major). If object is an array the following holds.

order	   no copy	   copy=True

‘K’	       unchanged	F & C order preserved, otherwise most similar order

‘A’	      unchanged	    F order if input is F and not C, otherwise C order

‘C’	      C order	    C order

‘F’	      F order	    F order


order	no copy	copy=True
‘K’	unchanged	F & C order preserved, otherwise most similar order
‘A’	unchanged	F order if input is F and not C, otherwise C order
‘C’	C order	C order
‘F’	F order	F order
When copy=False and a copy is made for other reasons, the result is the same as if copy=True, with some exceptions for A, see the Notes section. The default order is ‘K’.

subok : bool, optional. If True, then sub-classes will be passed-through, otherwise the returned array will be forced to be a base-class array (default).

ndmin : int, optional. Specifies the minimum number of dimensions that the resulting array should have. Ones will be pre-pended to the shape as needed to meet this requirement.

Returns:	
out : ndarray. An array object satisfying the specified requirements.
### When order is ‘A’ and object is an array in neither ‘C’ nor ‘F’ order, and a copy is forced by a change in dtype, then the order of the result is not necessarily ‘C’ as expected. This is likely a bug.

In [38]:
np.array([[1,2,3],[2,3,4]],dtype=int,copy=True, order='C',subok=False,ndmin=3)

array([[[1, 2, 3],
        [2, 3, 4]]])

In [40]:
 np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])

array([(1, 2), (3, 4)],
      dtype=[('a', '<i4'), ('b', '<i4')])

In [41]:
np.array(np.mat('1 2; 3 4'))

array([[1, 2],
       [3, 4]])

##  <p style="color:red;">Check internal memory layout</p>
https://docs.scipy.org/doc/numpy-1.13.0/reference/arrays.ndarray.html#

#  <p style="color:red;">1. Creating Series</p>

##  <p style="color:red;"> class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)[source]</p>
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).

Operations between Series (+, -, /, , *) align values based on their associated index values– they need not be the same length. The result index will be the sorted union of the two indexes.

## Parameters:	
### data : array-like, dict, or scalar value Contains data stored in Series

index : array-like or Index (1d) <div style='color:red'> Values must be hashable and have the same length as data. </div> Non-unique index values are allowed. Will default to RangeIndex(len(data)) if not provided. If both a dict and index sequence are used, the index will override the keys found in the dict.

If data is an ndarray, index must be the same length as data. If no index is passed, one will be created having values [0, ..., len(data) - 1].


dtype : numpy.dtype or None If None, dtype will be inferred

copy : boolean, default False. Copy input data

Labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index. Statistical methods from ndarray have been overridden to automatically exclude missing data (currently represented as NaN).

Operations between Series (+, -, /, , *) align values based on their associated index values– they need not be the same length. The result index will be the sorted union of the two indexes.

In [29]:
pd.Series(3)

0    3
dtype: int64

In [44]:
pd.Series(np.random.randn(5),index=['a','b','c','d','e'])

a    0.864418
b    1.234616
c    1.241807
d    1.202025
e   -0.946580
dtype: float64

In [45]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [46]:
pd.Series({'a':1.,'b':2,'c':3})

a    1.0
b    2.0
c    3.0
dtype: float64

### Note NaN (not a number) is the standard missing data marker used in pandas

In [47]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

## Series is ndarray-like.
### Series acts very similarly to a ndarray, and is a valid argument to most NumPy functions. However, things like slicing also slice the index.

# <p style="color:red;">2. Creating DataFrame</p>

## <p style="color:red;">pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)</p> 
### Two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). Arithmetic operations align on both row and column labels. Can be thought of as a dict-like container for Series objects. The primary pandas data structure

Parameters:	
data : numpy ndarray (structured or homogeneous), dict, or DataFrame

Dict can contain Series, arrays, constants, or list-like objects

index : Index or array-like

Index to use for resulting frame. Will default to np.arange(n) if no indexing information part of input data and no index provided

columns : Index or array-like

Column labels to use for resulting frame. Will default to np.arange(n) if no column labels are provided

dtype : dtype, default None

Data type to force. Only a single dtype is allowed. If None, infer

copy : boolean, default False

Copy data from inputs. Only affects DataFrame / 2d ndarray input

## 1. The most straightforward way, is by creating it from a NumPy array.

In [26]:
 a=pd.DataFrame(np.array([[10, 11], [20, 21]]))
a

    0   1
0  10  11
1  20  21

In [25]:
b=pd.DataFrame(a)
b

    0   1
0  10  11
1  20  21

### Each row of the array forms a row in the DataFrame object.

## 2. A DataFrame can also be initialized by passing a list of Series objects.

In [6]:
 df1 = pd.DataFrame([pd.Series(np.arange(10, 15)),
                       pd.Series(np.arange(15, 20))])

In [7]:
df1

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

The dimensions of a DataFrame object can be determined using its .shape property.

In [12]:
df = pd.DataFrame(np.array([[10, 11], [20, 21]]),
                  columns=['a', 'b'],
                 index=['r1', 'r2'])

In [13]:
df

     a   b
r1  10  11
r2  20  21

The names of the columns of a DataFrame can be accessed with its .columns property:

## 3. A DataFrame object can also be created by passing a dictionary containing one or more Series objects, where the dictionary keys contain the column names and each series is one column of data:

In [16]:
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(6, 11, 1))
df3=pd.DataFrame({'c1': s1, 'c2': s2})

In [17]:
df3

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

When the DataFrame is created, each series in the dictionary is aligned with each other by the index label, as it is added to the DataFrame object.

In [49]:
df=pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})

In [50]:
df

   col1  col2
0     1     3
1     2     4

# Selecting columns of a DataFrame
Selecting the data in specifc columns of a DataFrame is performed by using the [] operator. This can be passed either as a single object, or a list of objects.

In [53]:
df

   col1  col2
0     1     3
1     2     4

In [54]:
df['col1']

0    1
1    2
Name: col1, dtype: int64

### Note that even though we asked for just a single column by position, the value was still in a list passed to the [] operator and hence the double set of brackets [[]]. This is important, as not passing a list always results in a value based lookup of the column.

## df.[integer or string]: value based lookup, can pass in an integer (if u haven't set up the column index) or string (if u have set up the column index).
## df.[[integer]]: location based lookup, pass in a single integer or a list of integer.